.footer__logo {
  padding-left: 170px;
  margin-bottom: 20px;
}
.footer__item {
  margin-bottom: 8px;
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--bottom-contact-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  margin-bottom: 60px;
}
.footer__contact--link {
  color: var(----bottom-contact-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
}
.footer__contact:is(:hover, :focus) {
  color: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact--link:is(:hover, :focus) {
  color: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 170px;
  margin-bottom: 60px;
}
.footer .socialmedia__title {
  color: var(--white-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .socialmedia__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 170px;
}
.footer .socialmedia__icon {
  margin-right: 20px;
  --color3: var(--white-text);
}
.footer .socialmedia__icon--svg {
  text-decoration: none;
  transition-property: --color3, --color2;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .socialmedia__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--footer-socialmedia-icon);
  border-radius: 50px;
}
.footer .socialmedia__link:is(:hover, :focus) {
  background-color: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.newsletter__title {
  color: var(--white-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.newsletter__input {
  width: 450px;
  height: 50px;
  border: solid 1px rgba(255, 255, 255, 0.3019607843);
  border-radius: 4px;
  background-color: var(--footer-background);
  font-size: 16px;
  margin-bottom: 20px;
}
.newsletter__input::-webkit-input-placeholder {
  padding-left: 16px;
}
.newsletter__input::-moz-placeholder {
  padding-left: 16px;
}
.newsletter__input:-ms-input-placeholder {
  padding-left: 16px;
}
.newsletter__input::-ms-input-placeholder {
  padding-left: 16px;
}
.newsletter__input::placeholder {
  padding-left: 16px;
}
.newsletter__button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border: var(--accent-color);
  border-radius: 4px;
  color: var(--white-text);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 41px;
  padding-top: 10px;
}
.newsletter__button--send {
  margin-left: 24px;
  margin-top: 3px;
}
.newsletter__send {
  padding-left: 120px;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .footer__box--tablet {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__box--contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .socialmedia__title {
    margin-bottom: none;
  }
}
@media (min-width: 1200px) {
  .footer {
    background-color: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__item {
    margin-bottom: 9px;
  }
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__contact {
    color: var(--bottom-contact-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
  }
  .footer__contact--link {
    color: var(----bottom-contact-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
  }
  .footer__contact:is(:hover, :focus) {
    color: var(--accent-color);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__contact--link:is(:hover, :focus) {
    color: var(--accent-color);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .newsletter {
    margin-left: 78px;
    padding-top: 12px;
  }
  .newsletter__title {
    color: var(--white-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 20px;
  }
  .newsletter__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .newsletter__input {
    width: 358px;
    height: 50px;
    border: solid 1px rgba(255, 255, 255, 0.3019607843);
    border-radius: 4px;
    background-color: var(--footer-background);
    padding-left: 16px;
    font-size: 16px;
  }
  .newsletter__button {
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    border: var(--accent-color);
    border-radius: 4px;
    color: var(--white-text);
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    font-weight: 700;
    margin-left: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 42px;
    padding-top: 10px;
  }
  .newsletter__button--send {
    margin-left: 24px;
    margin-top: 3px;
  }
  .location {
    color: var(--white-text);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 9px;
  }
  .socialmedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 206px;
    height: 80px;
    margin-left: 70px;
    padding-top: 12px;
  }
  .socialmedia__title {
    color: var(--white-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 20px;
  }
  .socialmedia__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .socialmedia__icon {
    margin-right: 20px;
    --color3: var(--white-text);
  }
  .socialmedia__icon--svg {
    text-decoration: none;
    transition-property: --color3, --color2;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socialmedia__link {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--footer-socialmedia-icon);
    border-radius: 50px;
  }
  .socialmedia__link:is(:hover, :focus) {
    background-color: var(--accent-color);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}/*# sourceMappingURL=c.css.map */