.clients { 
  display: flex;
  justify-content: center;
  
  &__title {
    color: var(--main-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  
  &__item {
    margin-right: 30px;

    &:is(:hover,:focus) {
      border-radius: 4px;
      border: 1px solid var(--accent-color);
      --color3: var(--accent-color);
      --color2: var(--accent-color);
    }
  }
  
  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition-property: border, --color3, --color2;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__icon {
    text-decoration: none;
    transition-property: --color3, --color2;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}