.footer {
  background-color: var(--footer-background);
  padding: 60px 0px;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  @media (min-width:768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media (min-width:1200px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
  &__box {
    text-align: center;
    margin-bottom: 60px;
    @media (min-width: 768px) {
      flex-basis: 40%;
      }
    @media (min-width: 1200px) {
      text-align: left;
      margin-bottom: 0px;
      }
  }
  &__contact {
      color: var(--white-text);
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      font-style: normal;
      margin-top: 20px;
    &--link {
      color: var(--bottom-contact-color);
      text-decoration: none;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      margin-bottom: 8px;
    }
  }
  &__contact--link:is(:hover, :focus) {
    color: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
  &__item {
    margin-bottom: 8px;
    @media (min-width:1200px) {
      margin-bottom: 9px;
    }
  }

  &__address {
    font-style: normal;
    margin-top: 8px;
    @media (min-width:1200px) {
      margin-top: 9px;
    }
  }
  &__newsletter {
    flex-direction: column;
    @media (min-width:1200px) {
      flex-wrap: nowrap;
    }
  }
}
.socialmedia {
  text-align: center;
  margin-bottom: 60px;
  @media (min-width: 768px) {
    flex-basis: 40%;
    }
  @media (min-width: 1200px) {
    text-align: left;
    margin-bottom: 0;
    }
    &__link {
      text-decoration: none;
      display: flex;
      align-items: center;
      width: 44px;
      height: 44px;
      background-color: var(--footer-socialmedia-icon);
      border-radius: 50px;
      &:is(:hover, :focus) {
        background-color: var(--accent-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    &__title {
      color: var(--white-text);
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
    @media (min-width:1200px) {
      align-self: flex-start;
    }
    &__icon {
      margin-right: 10px;
      --color3: var(--white-text);
      &--svg {
        text-decoration: none;
        transition-property: --color3, --color2;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    &__list {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      gap: 10px;
      @media (min-width:1200px) {
        justify-content: flex-start;
        align-self: flex-start;
      }
    }
    &__icon {
      display: block;
      width: 44px;
      padding: 12px;
      border-radius: 50%;
    }
}
.newsletter {
  display: flex;
  &__title {
    text-align: center;
    color: var(--white-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    @media (min-width:768px) {
      margin-top: 0px;
    }
    @media (min-width: 1200px) {
      align-self: flex-start;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width:1200px) {
      flex-direction: row;
      align-items: center;
    }
}
&__input {
  width: 450px;
  height: 50px;
  border: solid 1px #FFFFFF4D;
  border-radius: 4px;
  background-color: var(--footer-background);
  margin-top: 20px;
  &::placeholder {
    padding-left: 16px;
    font-size: 16px;
  }
  @media (min-width:1200px) {
    width: 358px;
    margin-bottom: 30px;
}
}
&__button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border: var(--accent-color);
  border-radius: 4px;
  color: var(--white-text);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  font-weight: 700;
  display: flex;
  padding-left: 42px;
  padding-top: 10px;
  margin-top: 20px;
  @media (min-width:1200px) {
    margin-top:0px;
    align-self:flex-end;
    margin-left:12px;
    margin-bottom: 30px;
  }
  &--send {
    margin-left: 24px;
    margin-top: 3px;
  }
}
}