.navigation {
  display: flex;
  margin: 16px 16px;
  &__menu {
    display:none;
  }
  &__contact {
    display: none;
  }
  &__logo {
    margin-right: 270px;
  }
}
@media (min-width:768px) {
  .navigation {
    display: flex;
    align-items: center;
    &__menu {
      display: flex;
    }
    &__icons{
      margin-right: 10px;
    }
    &__item {
      margin-right: 60px;
      position: relative;
    }
    &__logo {
      @media (min-width:768px) {
        margin-right: 93px;
      }
    }
    &__contact {
      display: flex;
      flex-direction: column;
      color: var(--bottom-contact-color);
      font-weight: 500;
      font-size: 12px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      margin-left: 20px;
    }
    &__link {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: var(--bottom-contact-color);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }
    &__list {
      margin-right: 30px;
    }
    &__link:is(:hover, :focus) {
      color: var(--accent-color);
      --color4: var(--accent-color);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link {
      text-decoration: none;
      color: var(--main-text-color);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      margin-top: 10px;
      &--contact {
        color:var(--main-description-color);
      }
      &--primary::after {
        content: "";
        width: 58px;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
        position: absolute;
        top: 51px;
        left: 0px;
        margin: 0;
        padding: 0;
        display: block;
      }
      &__link--primary:is(:hover, :focus) {
        color: var(--accent-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}
@media (min-width:1200px) {
  .navigation {
    &__contact {
    display: flex;
    flex-direction: row;
  }
  &__link--primary::after {
    width:53px;
    top:40px;
  }
  &__item {
    margin-right: 46px;
  }
  &__contact {
    font-size: 14px;
  margin-left: 280px;
  }
}
}