.logo {
  color: var(--black-text);
  font-family: "Raleway",sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  letter-spacing: 0.03rem;
  &__primary {
    color: var(--accent-color);
  }
  &__secondary {
    color: var(--white-text);
  }
}