.menu {
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0;
    left:0;
    background-color: var(--white-text);
    z-index: 2;
    overflow: hidden;
    &.is-open {
        display: block;
        transform: translateX(100%);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 1;
    }
    &__container {
        padding-left: 40px;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    &__button {
        cursor: pointer;
        border: none;
        background-color: var(--white-text);
    &:is(:hover, :focus) {
        fill: var(--accent-color);
    }
    &--close {
        cursor: pointer;
        border: none;
        background-color: var(--white-text);
        position: absolute;
        top: 21px;
        right: 26px;
        &:is(:hover, :focus) {
            fill: var(--accent-color);
        }
    }
    }
    &__navigation {
        font-size: 40px;
        font-weight: 500;
        color: var(--main-text-color);
        cursor: pointer;
        margin-bottom: 302px;
        &--item {
            margin-bottom: 32px;
            &:is(:hover, :focus) {
            color: var(--accent-color);
        }
        &:last-child {
            margin-bottom: none;
        }
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 64px;
        &--mail {
            text-decoration: none;
            color: var(--main-description-color);
            font-size: 24px;
            font-weight: 500;
        }
        &--link {
            text-decoration: none;
            color: var(--accent-color);
            font-size: 34px;
            font-weight: 500;
            margin-bottom: 32px;
        }
    }
    &__social {
        display:flex;
        &--list {
            display: inline-flex;
            }
        &--link {
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
            color: var(--accent-color);
            border-right: 1px solid #21212133;
            padding-right: 10px;
            padding-left: 10px;
            &--last {
                text-decoration: none;
                font-size: 18px;
                font-weight: 500;
                color: var(--accent-color);
                padding-left: 10px;
            }
        }
    }
}
@media (min-width:768px) {
    .menu{
        display:none;
        &__svg {
            display: none;
        }
    }
}