.modal {
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--white-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: fixed;
  z-index: 9999;
  transition-property: visibility, transform;
  transform: translateX(-50%) translateY(-50%);
  transition-duration: 2;
  visibility: visible;
  animation-name: modalFrame;
  animation-duration: 1000ms;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
  
  &__background {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1;
  transition-property: visibility;
  visibility: visible;
  display: flex;
  animation-name: modalOpen;
  animation-duration: 2000ms;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.button-close {
  width: 30px;
  height: 30px;
  background-color: var(--white-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 490px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.close {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
