.navigation {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 25px;
    padding-left: 15px;

    &__button {
      border: var(--white-text);
      background-color: var(--white-text);
      margin-left: 284px;
      padding-right: 23px;
    }

    &__button:is(:hover,:focus){
      cursor: pointer;
      fill: var(--accent-color);
    }

  
}
  
  