@use "../utils/variables.scss" as *;
@use "../utils/mixins" as *;
@use "../utils/placeholders" as *;

/* =================== PORTFOLIO FILTER BUTTONS =====================*/

.portfolio-filter {
  margin: 0 auto 50px auto;
  // width: 572px;

  &__buttons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 8px;
  }

  &__button {
    @include font-mixin($font-main-color, 500, 16px, 1.625, 0.03em);
    border-radius: 4px;
    border: none;
    background-color: $bg-medium-color;
    box-shadow: none;
    /* transition-property: color, background-color, box-shadow; */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      outline-offset: 4px;
      outline-color: $hover-bg-color;
      cursor: pointer;
      background-color: $hover-bg-color;
      color: $color-white;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
.button-all {
  padding: 6px 13px;
}
.button-sites {
  padding: 6px 39px;
}
.button-apps {
  padding: 6px 38px;
}
.button-design {
  padding: 6px 28px;
}
.button-marketing {
  padding: 6px 26px;
}

.portfolio {
  &__items-list {

    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 30px;
  }

  &__item {
    border-bottom: 1px solid #eeeeee;
    // flex-basis: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      outline: none;
      cursor: pointer;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .portfolio__img-overlay,
    &:focus .portfolio__img-overlay {
      transform: translateY(0);
    }
  }

  &__img-box {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
      // margin: auto;
      display: block;
    }
  }

  &__img-overlay {
    @include font-mixin($color-white, 400, 18px, 1.55, 0.03em);
    position: absolute;
    padding: 49px 45px 49px 24px;
    height: 100%;
    font-style: normal;
    background: $portfolio-overlay-color;
    /* transition-property: transform; */
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__text-box {
    padding: 20px 24px;
    // text-align: left;
  }

  &__title {
    @include font-mixin($font-main-color, 700, 18px, 2, 0.06em);
    padding-bottom: 4px;
  }

  &__description {
    @include font-mixin($font-secondary-color, 400, 16px, 1.875, 0.03em);
  }
}

/* =============================== MEDIA =====================*/

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .portfolio-filter__buttons-list {
    justify-content: center;
  }

  .portfolio {
    &__items-list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px;
    }

    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 60px) / 3);
  }

  .button-all,
  .button-sites,
  .button-apps,
  .button-design,
  .button-marketing {
    padding: 6px 22px;
  }
}