@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/placeholders" as *;

.section-h2 {
  @include font-mixin($font-main-color, 700, 28px, 1.17, 0.03em);
  text-align: center;
  margin: 0 auto 30px auto; /* 0 deletes spac between divs*/
}

.about-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
  gap: 30px;

  &__icon-placeholder {
    padding: 25px 0;
    text-align: center;
    border-radius: 4px;
    background-color: $bg-medium-color;
  }

  &__title-h3 {
    @include font-mixin($font-main-color, 700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    padding-top: 30px;
    text-align: center;
  }

  &__article {
    padding-top: 10px;
    @include font-mixin($font-secondary-color, 400, 14px, 1.71, 0.03em);
  }
}

/* ========================== WHAT WE DO ================= */

.what-we-do {
  display: none;
}

/* ======================= TEAM SECTION =============== */

.team-section {
  background-color: $bg-medium-color;
}

.team-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
  // justify-content: space-between;
  text-align: center;
  /* background-color: yellow*/ /*  --------- only to temporary preview box area*/

  > li {
    // display: flex;
    // flex-direction: column;
    background-color: $color-white;
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    img {
      max-width: 100%;
      height: auto;
      margin: auto;
      display: block;
    }
  }

  &__name {
    @include font-mixin($font-main-color, 500, 16px, 1.19, 0.03em);
    /* text-align: center; */
    display: block;
    padding-top: 30px;
  }

  &__job {
    @include font-mixin($font-secondary-color, 400, 16px, 1.19, 0.03em);
    padding: 10px 0 16px 0;
    /* text-align: center; */
  }
}

.teammate-socials {
  // padding: 0 32px;
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;

  &__icon-placeholder {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $default-icon-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $hover-bg-color;
      color: $color-white;
    }
  }
}


.clients-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  color: $default-icon-color;

  &__icon-placeholder {
    min-width: calc((100% - 20px) / 2);
    padding: 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      cursor: pointer;
      color: $hover-bg-color;
    }
  }
}

/* =============================== MEDIA =====================*/

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .about-list {
    flex-direction: row;
    flex-wrap: wrap;

    > li {
      flex-basis: calc((100% - 30px) / 2);
    }


  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    text-align: center;

    > li {
      flex-basis: calc((100% - 30px) / 2);
    }

    &__name {
      @include font-mixin($font-main-color, 500, 16px, 1.19, 0.03em);
    }

    &__job {
      @include font-mixin($font-secondary-color, 400, 16px, 1.19, 0.03em);
    }
  }

  .clients-list {
    gap: 10px;

    &__icon-placeholder {
      min-width: calc((100% - 20px) / 3);
    }
  }
}

@media screen and (min-width: 1200px) {
  .section-h2 {
    @include font-mixin($font-main-color, 700, 36px, 1.17, 0.03em);
    margin: 0 auto 50px auto; 
  }

  .about-list {
    flex-direction: row;
    gap: 0px;
    > li {
      flex-basis: 270px;
    }

    &__title-h3 {
      @include font-mixin($font-main-color, 700, 14px, 1.14, 0.03em);
      text-transform: uppercase;
      padding-top: 30px;
      text-align: center;
    }
  }

  .team-list > li {
    flex-basis: calc((100% - 90px) / 4);
  }

  .what-we-do {
    margin-top: 94px;
    display: flex;
    flex-direction: column;
  }

  .about-pic-list {
    display: flex;
    list-style: none;
    // width: 100%;
    justify-content: space-between;
    gap: 30px;

    &__offer {
      position: relative;
      display: flex;
      text-align: center;
      // width: 370px;
      flex-basis: calc((100% - 60px) / 3);

      > img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    &__description {
      @include font-mixin($color-white, 700, 14px, 1.14, 0.03em);
      position: absolute;
      width: 100%;
      padding: 25px 0px;
      bottom: 0;
      background: $about-bg-color;
      text-transform: uppercase;
    }
  }

  .clients-list {
    justify-content: space-between;
    gap: 10px;

    &__icon-placeholder {
      min-width: calc((100% - 50px) / 6);
    }
  }
}