.products{
    margin-bottom: 94px;
    
    &__title {
      color: var(--main-text-color);
      font-size: 36px;
      line-height: 1.16;
      text-align: center;
      letter-spacing: 0.03em;
      margin-bottom: 50px;
    }

    &__list {
      display: flex;
      justify-content: center;
    }
    &__item {
      margin-right: 30px;
      
      &--background {
        position: relative;
        overflow: hidden;
    }
    
      &--description {
        width: 370px;
        height: 70px;
        position: absolute;
        left: 50%;
        top: 87%;
        margin: 0;
        padding: 27px 90px;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1;
        font-weight: 700;
        font-size: 14px;
        line-height: 0.87;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.8) 50%,
        rgba(47, 48, 58, 0.8) 50%);
        color: var(--white-text);
      }
    }
}
