.project {
    padding-bottom: 94px;
    
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }
  
    &__item {
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      margin:0 auto;
    }

    &__item:is(:hover){
      cursor: pointer;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transform: translatex(0);
    }

    &__border {
      border-bottom: 1px solid #eeeeee;
      border-right: 1px solid #eeeeee;
      border-left: 1px solid #eeeeee;
    }

    &__concept--name {
      color: var(--main-text-color);
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      padding-top: 20px;
      padding-left: 24px;
    }
  
    &__concept--description {
      color: var(--main-description-color);
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.03em;
      padding-top: 4px;
      padding-left: 24px;
      padding-bottom: 20px;
    }
}

.overlay {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
    
    &__function {
      position: absolute;
      width: 370px;
       height: 294px;
      background-color: rgba(33, 150, 243, 0.9);
      transform: translateY(200%);
      transition: transform 500ms ease;
    }
    
    &__description {
      font-size: 18px;
      line-height: 1.55;
      letter-spacing: 0.03em;
      color: var(--white-text);
      padding-top:49px;
      padding-left: 24px;
      padding-right: 45px;
    }

    &__function {
      display: inline-block;
      background-color: rgba(33, 150, 243, 0.9);
    }

    &__function:is(:hover) {
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transform: translatex(0);
    }
}

.project__item:hover .overlay__function {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translatex(0);
  }
  