*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 0px;
  }
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
body {
    color: var('primary-text');
    font-family: 'Roboto', 'Tahoma', sans-serif;
  }
