*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var('primary-text');
  font-family: 'Roboto', 'Tahoma', sans-serif;
}
ul {
  list-style: none;
  padding: 0px;
}
.container {
  max-width: 480px;
  @media (min-width:768px) {
    max-width: 768px;
  }
  @media (min-width:1200px) {
    max-width: 1200px;
  }
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

