@use "variables" as *;

%font-main-body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: $font-main-color;
}

%form-color-transitions {
  outline: none;
  border: 1px solid $hover-bg-color;
}

%underline-link-animation {
  &::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -4px;
    right: 0;
    background: $hover-bg-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus::after,
  &:hover::after {
    width: 100%;
    left: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}