:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --main-description-color: #757575;
  --white-text: #ffffff;
  --black-text: #000000;
  --bottom-contact-color: rgba(255, 255, 255, 0.6);
  --portfolio-filter: #f5f4fa;
  --footer-background: #2f303a;
  --footer-socialmedia-icon: rgba(255, 255, 255, 0.1);
}